{% extends "layout.html" %}
{% block content %}

<img src="static/Heart-Diseases1.png"  alt="Heart diseases!" width="760" height="272"aligh="left"><br>

<br><br>  <div  style="text-align:left;border:1px solid DimGrey;" class="container">
      <h2>Angina Disease</h2>
      <p style="color:black;font-size:19px;">Angina is a type of chest pain caused by reduced blood flow to the heart.
        Angina, also called angina pectoris, is often described as squeezing, pressure,
        heaviness, tightness or pain in your chest. Some people with angina symptoms say angina
        feels like a vise squeezing their chest or a heavy weight lying on their chest.Angina may be a new pain that needs to be checked by a doctor, or recurring pain
        that goes away with treatment.Although angina is relatively common, it can still be hard
        to distinguish from other types of chest pain, such as the discomfort of indigestion.
        If you have unexplained chest pain, seek medical attention right away.
        <a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.mayoclinic.org/diseases-conditions/angina/symptoms-causes/syc-20369373">Want to know more about Angina Disease? </a>
      </p>
    </div><br>
    <div  style="text-align:left;border:1px solid DimGrey;" class="container">
        <h2>Cardiovascular diseases</h2>
        <h5>Common symptoms of Cardiovascular diseases</h5>
        <p style="color:black;font-size:19px;">Often, there are no symptoms of the underlying
           disease of the blood vessels. A heart attack or stroke may be the first
           warning of underlying disease. Symptoms of a heart attack include:

           <ul  style="color:black;font-size:19px;">
             <li>pain or discomfort in the centre of the chest;</li>
             <li>pain or discomfort in the arms, the left shoulder, elbows, jaw, or back.</li>
           </ul>
           </p>
           <p style="color:black;font-size:19px;">
             In addition the person may experience difficulty in breathing or shortness of breath ;
            feeling sick or vomiting; feeling light-headed or faint; breaking into a cold sweat;
             and becoming pale. Women are more likely to have shortness of breath, nausea, vomiting,
             and back or jaw pain.
             The most common symptom of a stroke is sudden weakness of the face, arm, or leg,
             most often on one side of the body. Other symptoms include sudden onset of:
             <ul  style="color:black;font-size:19px;">
               <li>numbness of the face, arm, or leg, especially on one side of the body;</li>
               <li>confusion, difficulty speaking or understanding speech;</li>
               <li>difficulty seeing with one or both eyes;</li>
               <li>difficulty walking, dizziness, loss of balance or coordination;</li>
               <li>severe headache with no known cause; and</li>
               <li>fainting or unconsciousness.</li>
             </ul>
             <p style="color:red;font-size:19px;">People experiencing these
               symptoms should seek medical care immediately.
               <a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)">Want to know more about Cardiovascular Disease? </a>


             </p>
           </p>


      </div><br>

      <div  style="text-align:left;border:1px solid DimGrey;" class="container">
          <h2>Hypotension Disease</h2>
          <p style="color:black;font-size:19px;">
            Hypotension is low blood pressure. Your blood pushes against your arteries with each heartbeat. And the pushing of the blood against the artery walls is called blood pressure.
            Having a lower blood pressure is good in most cases (less than 120/80). But low blood pressure can sometimes make you feel tired or dizzy. In those cases, hypotension can be a sign of an underlying condition that should be treated.
            Blood pressure is measured when your heart beats, and in the periods of rest between heartbeats. The measurement of your blood pumping through your arteries when the ventricles of the heart squeeze is called systolic pressure or systole. The measurement for the periods of rest is called diastolic pressure, or diastole.
            Systole supplies your body with blood, and diastole supplies your heart with blood by filling the coronary arteries. Blood pressure is written with the systolic number above the diastolic number. Hypotension in adults is defined as blood pressure of 90/60 or lower.
              </p>
            <p style="color:black;font-size:19px;">
            People with hypotension may experience symptoms when their blood pressure
             drops below 90/60. Symptoms of hypotension can include:

             <ul  style="color:black;font-size:19px;">
               <li>  <a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.healthline.com/health/fatigue">Fatigue</a></li>
               <li><a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.healthline.com/health/lightheadedness">Lightheadedness</a></li>
                <li><a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.healthline.com/health/dizziness">Dizziness</a></li>
                <li><a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.healthline.com/health/nausea">Nausea</a></li>
                <li><a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://www.healthline.com/health/unconsciousness-first-aid">Unconsciousness</a></li>

             </ul>
              </p>
        </div><br>

        <div  style="text-align:left;border:1px solid DimGrey;" class="container">
            <h2>Coronary Artery Disease</h2>
            <p style="color:black;font-size:19px;">
              Coronary artery disease is the narrowing or blockage of the coronary arteries,
              usually caused by atherosclerosis. Atherosclerosis (sometimes called "hardening"
              or "clogging" of the arteries) is the buildup of cholesterol and fatty deposits
              (called plaques) on the inner walls of the arteries. These plaques can restrict
              blood flow to the heart muscle by physically clogging the artery or by causing
              abnormal artery tone and function.Without an adequate blood supply, the heart
              becomes starved of oxygen and the vital nutrients it needs to work properly.
              This can cause chest pain called angina. If the blood supply to a portion of the
              heart muscle is cut off entirely, or if the energy demands of the heart become much
               greater than its blood supply, a heart attack (injury to the heart muscle) may occur.


              <a class="nav-item nav-link"  style="color:link;font-size:20px;"target="_blank" href="https://my.clevelandclinic.org/health/diseases/17848-myocardial-ischemia">What is ischemia? </a>
            </p>
            <p style="color:black;font-size:19px;">

              <h4>What are the risk factors for coronary artery disease?</h4>
              <ul style="color:link;font-size:19px;">
                <li> <b>High blood cholesterol and high triglycerides </b>– especially high LDL ("bad") cholesterol over 100 mg/dL and low HDL ("good") cholesterol under 40 mg/dL. Some patients who have existing heart or blood vessel disease, and other patients who have a very high risk, should aim for an LDL level less than 70 mg/dL. Your doctor can provide specific guidelines. </li>
                <li> <b>High blood pressure</b> (140/90 mmHg or higher) </li>
                <li> Uncontrolled <b>diabetes</b> (HbA1c >7.0)</li>
                <li><b>Male gender.</b> Men have a greater risk of heart attack than women do, and men have heart attacks earlier in life than women. However, beginning at age 70, the risk is equal for men and women.</li>
                <li><b>Advanced age.</b> Coronary artery disease is more likely to occur as you get older, especially after Age 65.</li>
                <li> <b>Family history of heart disease.</b>You have an increased risk of developing heart disease if you have a parent with a history of heart disease, especially if they were diagnosed before Age 50. Ask your doctor when it's appropriate for you to start screenings for heart disease so it can be detected and treated early. </li>
                <li> <b>Race.</b>African Americans have more severe high blood pressure than Caucasians and, therefore, have a higher risk of heart disease. The risk of heart disease is also higher among Mexican Americans, American Indians, native Hawaiians, and some Asian Americans. This is partly due to higher rates of obesity and diabetes in these populations.</li>

              </ul>
<a class="nav-item nav-link"  style="color:link;font-size:21px;"target="_blank" href="https://medlineplus.gov/coronaryarterydisease.html">Coronary Artery Disease </a>

            </p>

          </div><br><br>

          <p>
          <h3>Stay Fit and Keep your Heart healthy.....!</h3>
          <a class="nav-item nav-link"  style="color:link;font-size:21px;"target="_blank" href="https://www.heartfoundation.org.au/Heart-health-education/Keeping-your-heart-healthy"><img width=340 height=340 src="static/healthy3.jpg" alt=""> </a>
        
          </p>
{% endblock content %}
